@model List<nomina2.Models.DTO.OvertimeDTO>

@{
    ViewBag.Title = "Overtime List";
}

<h2>Overtime List for User with ID: @ViewBag.UserId</h2>

<a href="@Url.Action("CreateOvertime", "Overtime", new { userId = ViewBag.UserId })" class="btn btn-success">Create</a>
<a href="@Url.Action("RolesList","User")" class="btn btn-primary">Roles Usuario </a>
<br />
<table class="table">
    <thead>
        <tr>
            <th>ID Overtime</th>
            <th>ID</th>
            <th>Type Action</th>
            <th>Descripcion</th>
            <th>Value</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var overtime in Model)
        {
            <tr>
                <td>@overtime.Overtime_id</td>
                <td>@overtime.Id</td>
                <td>@overtime.Overtime_description</td>
                <td>@overtime.Type_action</td>
                <td>@overtime.Overtime_value</td>
                <td>
                    <a href="@Url.Action("Edit", "Overtime", new { id = overtime.Id })" class="btn btn-success">Edit</a>
                    <a href="@Url.Action("DeleteOvertime", "Overtime", new { id = overtime.Overtime_id })" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


