@model List<nomina2.Models.DTO.RequestDTO>

@{
    ViewBag.Title = "RequestList";
    bool showNotification = ViewBag.ShowNotification ?? false;

    // Verifica si se hizo clic en el botón de notificaciones
    if (IsPost && Request.Form["notificationButton"] != null)
    {
        showNotification = !showNotification;
        ViewBag.ShowNotification = showNotification;
    }
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h2>Pending Request by User ID: @ViewBag.UserId</h2>

        <a href="@Url.Action("CreateRequest", "Request", new { userId = @Session["UserId"] })" class="btn btn-success">New Request</a>

        <div class="text-right">
            <form method="post">
                <button type="submit" name="notificationButton" class="btn btn-info">Notification <span class="badge badge-light"></span></button>
            </form>
        </div>

        @if (showNotification)
        {
            int pendingRequestsCount = 0;
            int approvedRequestsCount = 0;
            int rejectedRequestsCount = 0;

            foreach (var request in Model)
            {
                if (request.Active == 1 && request.Pending)
                {
                    pendingRequestsCount++;
                }
                else if (request.Active == 2)
                {
                    approvedRequestsCount++;
                }
                else if (request.Active == 3)
                {
                    rejectedRequestsCount++;
                }
            }

            <div id="notification" class="alert alert-info">
                @if (pendingRequestsCount > 0)
                {
                    <p>You have @pendingRequestsCount pending request(s).</p>
                }
                else
                {
                     <p>You have no pending requests.</p>
                }

                @if (approvedRequestsCount > 0)
                {
                    <p>You have @approvedRequestsCount pending request(s).</p>
                }
                else
                {
                    <p>You have no approved applications.</p>
                }

                @if (rejectedRequestsCount > 0)
                {
                    <p>You have @rejectedRequestsCount pending request(s).</p>
                }
                else
                {
                     <p>You have no rejected applications.</p>
                }
            </div>
        }

        @if (Model != null && Model.Count > 0)
        {
            <table class="table">
                <!-- Encabezados de la tabla -->
                <thead>
                    <tr>
                        <th>Request ID</th>
                        <th>User ID</th>
                        <th>Type Request</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Description</th>
                        <th>State</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var request in Model)
                    {
                        <tr>
                            <td>@request.Request_id</td>
                            <td>@request.Id</td>
                            <td>@request.Type_request</td>
                            <td>@request.Start_date.ToString("yyyy-MM-dd")</td>
                            <td>@request.End_date.ToString("yyyy-MM-dd")</td>
                            <td>@request.Request_note</td>
                            <td>
                                @if (request.Active == 1)
                                {
                                    <span class="badge badge-primary">Pending</span>
                                }
                                else if (request.Active == 2)
                                {
                                    <span class="badge badge-success">Approved</span>
                                }
                                else if (request.Active == 3)
                                {
                                    <span class="badge badge-danger">Rejected</span>
                                }
                                else
                                {
                                    <span class="badge badge-secondary">Unknow</span>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>No se encontraron solicitudes.</p>
        }
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#notification").on("click", function () {
                $(this).hide();
            });
        });
    </script>
</body>
</html>