@model List<nomina2.Models.DTO.RequestDTO>

@{
    ViewBag.Title = "RequestList";
}

<h2>Solicitudes para el Usuario con ID: @ViewBag.UserId</h2>

@{
    if (Model != null && Model.Count > 0)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>ID de Solicitud</th>
                    <th>ID de Usuario</th>
                    <th>Tipo de Solicitud</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Nota</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var request in Model)
                {
                    <tr>
                        <td>@request.Request_id</td>
                        <td>@request.Id</td>
                        <td>@request.Type_request</td>
                        <td>@request.Start_date.ToString("yyyy-MM-dd")</td>
                        <td>@request.End_date.ToString("yyyy-MM-dd")</td>
                        <td>@request.Request_note</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No se encontraron solicitudes.</p>
    }
}