@model List<nomina2.Models.DTO.UserDTO>



@{
    ViewBag.Title = "Index";
}

<h2>User List</h2>
<a href="@Url.Action("CreateUser","User")" class="btn btn-success">Create</a>
<a href="@Url.Action("RolesList","User")" class="btn btn-primary">Roles Usuario</a>
<a href="@Url.Action("ListOvertime","Overtime")" class="btn btn-primary">Overtime</a>
<a href="@Url.Action("Login","User")" class="btn btn-primary">Login</a>

<!-- Agregar un formulario para la búsqueda de usuarios -->
<form method="get" action="@Url.Action("ListUser", "User")">
    <div class="form-group">
        <br />
        <label for="searchKeyword">Search:</label>
        <input type="text" class="form-control" name="searchKeyword" placeholder="Enter name or email " style="display: inline-flex; height: 35px; width: 250px; text-align: center; padding: 3px 5px; border: 1px solid #0a93f6; border-radius: 10px;">
        <button type="submit" class="btn btn-primary" style="display: inline-flex;">Search</button>
    </div>
</form>
<br />

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>name</th>
            <th>Last name</th>
            <th>Email</th>
            <th>Telephone</th>
            <th>Departament</th>
            <th>Password</th>
            <th>Type payment</th>
            <th>Amount salary</th>
            <th>Role id</th>
            <th>State</th>
            <th>Update date</th>
            <th>Update user</th>
            <th>Create date</th>
            <th>Create user</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.Name</td>
                <td>@user.Last_Name</td>
                <td>@user.Email</td>
                <td>@user.Telephone_number</td>
                <td>@user.Department_id</td>
                <td>@user.Password</td>
                <td>@user.Type_payment</td>
                <td>@user.Amount_salary</td>
                <td>@user.Role_id</td>
                <td>@user.State</td>
                <td>@user.Update_date</td>
                <td>@user.Update_user</td>
                <td>@user.Create_date</td>
                <td>@user.Create_user</td>
                <td>
                    <a href="@Url.Action("EditUser", "User", new { id = user.Id })" class="btn btn-success">EDIT</a>
                </td>
                <td>
                    <a href="@Url.Action("DeleteUser", "User", new { id = user.Id })" class="btn btn-danger">DEL</a>
                </td>

                <td>
                    <a href="@Url.Action("ListOvertime", "Overtime", new { id = user.Id })" class="btn btn-danger">(+)</a>
                </td>
                <td>
                    <a href="@Url.Action("ListDeductions", "Deductions", new { id = user.Id })" class="btn btn-danger">(-)</a>
                </td>

                <td>
                    <a href="@Url.Action("ListUser", "user", new { id = user.Id })" class="btn btn-danger">Pagar</a>
                </td>

            </tr>
        }
    </tbody>
</table>


